.App {
  text-align: center;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #3d22b6;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  line-height: 65px;
  border-radius: 2px;
  padding: 10 px;
}

.App-body {
  background-color: #282c34;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
  padding-bottom: 10%;
}

.App-link {
  color: #61dafb;
}
